.container-header-input {
  display: flex;
  align-items: center;
  margin-left: 250px;
}
.header {
  display: flex;
  min-width: 100%;
  min-height: 54px;
  position: fixed;
  background-color: antiquewhite;
  z-index: 1;
}

.nav-list {
  display: flex;
}

.header-link {
  list-style-type: none;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.header-link , .header-link {
  padding-left: 2rem;
}

.wrapper-header {
  display: flex;
}

.wrapper-link {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.name-link {
  display: flex;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

.image-header {
  width: 32px;
}

.active {
  display: flex;
  border-bottom: 2px solid black;
}

.input-header {
  width: 200px;
  height: 22px;
  background-color: #EEF3F8;
  margin-left: 8px;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 7px;
}
