.containerNavBarFriends {
    width: 250px;
    height: 1000px;
    font-size: 14px;
    margin-right: 18px;
    background-color: white;
}

.linkFriends {
    font-size: 12px;
    padding-left: 10px;
}

.listImage {
    width: 18px;
    height: 18px;
}

.borderNavBarFriends {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.08);
    display: block;
    height: 1px;
    width: 100%;
}

.contactsParagraphLink {
    color: #0a66c2;
}

.contactsParagraphLink:hover {
    text-decoration: underline;
}

